.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 40%;
    right: 15%;
    bottom: 25%;
    left: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 70%;
      opacity: 0;
      z-index: 1;
    }
  }

.container .box{
    position: relative;
    width: 380px;
    height: 450px;
    margin: 28px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#49b6d1,#00d0ff);
}
.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#183aa8,#157acc);
    filter: blur(30px);
}
.container .box b{
    position: absolute;
    inset: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
.container .box img{
    position: relative;
    width: 100%;
    z-index: 3;
    scale: 0.8;
    opacity: 0.7;
    transition: 0.5s;
}
.container .box:hover img{
    scale: 0.7;
    opacity: 0.9;
    transform: translateY(-50px);
}

.container .box .content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    transform: scale(0);
    z-index: 3;
}
.container .box:hover .content{
    transform: scale(1);
    bottom: 35px;
}
.container .box h2{
    position: relative;
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}
.container .box h2 span{
    font-weight: 500;
    font-size: 0.85em;
}
.container .box .sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
.container .box .sci li{
    list-style: none;
}
.container .box .sci li a{
    position: relative;
    color: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.2);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
}
.container .box .sci li a:hover{
    color: rgba(255,255,255,1);
}