/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.skills-charts {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  clear: both;
  margin: auto;
  margin-right: 0;
  overflow: hidden
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: #49b6d1;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ffff;
}

@media screen and (max-width: 1200px) {
  .skills-charts
  {
    position: initial;
    display: flex;
    width: 100%;
    height: 0;
    
    overflow: visible;
  }

  .skills-charts > * {
    transform: scale(0.61); /* reduce el tamaño de los elementos a la mitad */
  }

  .text-sphere,
  .tagcloud {
    margin-right: -400px;
  }
}