.skills-charts {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  clear: both;
  margin: auto;
  margin-right: 0;
  overflow: hidden
}

#myCanvasContainer {
position: relative;
height: 100%;
width: 100%
}

#myCanvas {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: auto;
height: 100%
}

#myCanvasContainer li a {
font-size: 30px;
font-family: font-file-82132
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}